#header {

    background: cyan;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4rem;
    a{
        text-decoration: none;
        color: #fff;
    }
    h2{
        font-size: 48px;
    }
    .nav__bag{
        display: flex;
        align-items: center;
        .bag__quantity{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 25px;
            width: 25px;
            background: blue;
            font-weight: 700;
            color: #fff;
            margin-left: 5px;
            border-radius: 50%;
            font-size: 14px;
        }
    }
}